.ftco-section{
    padding-top: 20px;
}

.comment-body h3, .comment-body .comment-content{
    font-family: "Arial",sans-serif;
    margin-bottom: 0;
    color: #0b0b0b;
}

.comment-name{
    font-size: 16px !important;
}

.comment-children li{
    margin-bottom: 5px;
    padding-top: 10px;
}

.news-like{
    width: 57px;
    background: #00000059;
    z-index: 9999;
    right: 0;
    font-size: 30px;
    cursor: pointer;
}

.unlike{
    color: #dc3545;
}

.liked{
    color: #00fd00;
}

.news-like:focus{
    outline: none;
}
